
.ml-5 {
    margin-left: 5px;
}

.column-__actions__ a {
    font-size: 18px;
    margin:0 5px;
}
.column-__actions__ .grid-row-delete {
    color:#d9534f;
}

.file-preview {
    width: auto !important;
    display: inline-block;
}

.imageBoxContainer {
    display:flex;
    flex-wrap: wrap;
}

.imageBox {
    width:310px;
    max-width:100%;
    padding: 0 15px 15px 15px;
    position:relative;
}

.imageBox .select{
    position:absolute;
    top:0px;
    left:15px;
}

.imageBoxContent {
    background:#ECF0F5;
    border:1px solid #D2D6DE;
    border-radius:2px;
    margin:0;
    height:100%;
    display:flex;
    flex-direction:column;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
}


.imageBox img {
    max-width:100% !important;
    width:auto !important;
    height:auto !important;
    max-height: 150px !important;   
    background-color: transparent;
    border: none;
    border-radius: 2px;
    padding:0px;
    border: 1px solid #fff;
}

.imageBox .imageCont {
    margin:0px auto;
    padding:4px;
}

.imageBox .imageBoxFooter {
    margin-top:auto;
    background:#ECF0F5;
    padding: 8px;
}

.imageBox .title {
    font-weight:normal;
    padding-bottom:10px;
}

.imageBox .actions {
    border-top:1px solid #D2D6DE;
    padding-top:10px;
}
.imageBox .actions a {
    font-size: 18px;
    margin:0 5px;
}
.imageBox .actions .grid-row-delete {
    color:#d9534f;
}

th.hideLabel {
    display:none;
}

.belongsto-image_id .empty-grid{
    padding:20px !important;
}

.sortable-background {
    background-color:#a1d5f3;
}

.mfp-bg {
    z-index:1055;
}

.mfp-wrap {
    z-index:1056;
}

/*#imageBrowser {
    z-index: 1045;
}*/

.article-image img {
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}


@media (min-width: 768px) {
    .article-image.left-out img, .article-image.right-out img {
        max-width:300px !important;
        float:left;
        margin-left:0px;
        margin-right:0px;
    }

    .article-image.right-out {
        max-width:300px !important;
        float:right;
        margin-left:15px;
        margin-right:0px;
    }

    .article-image.left-out {
        max-width:300px !important;
        float:left;
        margin-left:0px;
        margin-right:15px;
    }
}

.slimScrollBar {
    background: rgba(0, 0, 0, 0.4) !important;
    width: 8px !important;
    display:block !important;
    opacity:0.4 !important;
}

@media (min-width: 1100px) {
    .modal-lg {
        width: 1060px !important;
    }
}

@media (min-width: 1300px) {
    .modal-lg {
        width: 1260px !important;
    }
}

form .fields-group .control-label h4 {
    font-weight: 700;
    font-size:14px;
}

table.table th.column-__row_selector__ {
    width:40px;
}

table.table th.column-__sortable__ {
    width:26px;
}

/*===== TRANSLATION =====================*/

.translatable-hidden {
    display:none;
}

.cursor-pointer {
    cursor:pointer;
}

/*===== FORM =====================*/

input.lead, textarea.lead {
    margin-bottom:0px;
    font-weight:400;
}

.has-vertical-fields {
    max-width: 1100px;
    margin: 0 auto;
}

.has-vertical-fields label {
    padding-top:0px !important;
    margin-bottom:5px !important;
}

.has-vertical-fields .radio-group-toggle label.btn {
    padding-top:6px !important;
}

.form-group-vertical {
    margin-bottom:15px;
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
    white-space: nowrap;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    white-space: nowrap;
}

#toast-container>div {
    opacity:.95;
}
#toast-container .toast-message {
    font-weight:bold;
}